/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte principal */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f7f7f7;
}

/* Navbar */
header {
    background-color: #222;
    color: white;
    padding: 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

header ul li a:hover {
    color: #f39c12;
}

/* Seção Hero */
.hero {
    background: linear-gradient(45deg, #3b3b3b, #222);
    color: white;
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.hero .btn-primary {
    background-color: #f39c12;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    text-decoration: none;
    border-radius: 5px;
}

.hero .btn-primary:hover {
    background-color: #e67e22;
}

/* Seção Sobre */
.sobre {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.sobre h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Seção Produtos */
.produtos {
    background: linear-gradient(90deg, #f4f4f4, #e9e9e9);
    padding: 50px 0;
    text-align: center;
}

.produtos h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.produtos-gallery {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.produto img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.produto p {
    margin-top: 10px;
    font-size: 1.2rem;
}

.produtos .btn-secondary {
    display: inline-block;
    background-color: #f39c12;
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.produtos .btn-secondary:hover {
    background-color: #e67e22;
}

/* Seção Equipe */
.equipe {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.equipe h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.equipe-gallery {
    display: flex;
    justify-content: space-around;
    margin-top: 30px
}

