{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #388E3C;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

button {
    padding: 10px 25px;
    font-size: 4.0rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2C6D2F;
}

main {
    padding: 50px 10%;
}

.section-title {
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 4.0rem;
    color: #388E3C;
}

.content {
    margin-bottom: 40px;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

ul