
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --verde-escuro: #006400;
    --verde-claro: #66cc66;
    --preto: #000000;
    --branco: #ffffff;
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--branco);
    color: var(--preto);
}


header {
    background-color: var(--verde-escuro);
    color: var(--branco);
    padding: 20px;
    text-align: center;
}

header .logo img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

header h1 {
    font-size: 36px;
}


.intro {
    padding: 40px;
    text-align: center;
    background-color: var(--verde-claro);
}

.intro h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.intro p {
    font-size: 18px;
    margin-bottom: 30px;
}

.intro button {
    background-color: var(--verde-escuro);
    color: var(--branco);
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

.intro button:hover {
    background-color: var(--preto);
}


.imagem-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    margin-top: 30px;
}

.imagem {
    text-align: center;
    width: 40%;
}

.imagem img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagem p {
    margin-top: 10px;
    font-size: 16px;
    color: var(--verde-escuro);
}


footer {
    background-color: var(--verde-escuro);
    color: var(--branco);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}